{% extends 'admin/base.html.twig' %}
{% block title 'Dashboard | Blocs'%}

{% block body %}

    <div class="container">
        <div class="row ">
            <div class="col-sm-9">

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success my-2">
                        {{ message }}
                    </div>
                {% endfor %}
                
            </div>
            <div class="col-sm-3 text-right">
                <a href="{{ path('admin.block.new')}}" class="btn btn-small btn-fonce waves-effect waves-light">Nouveau bloc</a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-md-12 table-responsive">
                <table class="table text-center table-stripped my-4">
                    <thead class="">
                        <tr>
                            <th>Blocs</th>
                            <th>Catégorie</th>
                            <th>Ordre</th>
                            <th>Publication</th>
                            <th>Créé par</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                            {% for block in blocks %}
                        <tr>
                            <td>{{ block.title}}</td>
                            <td>{{ block.category}}</td>
                            <td>{{ block.binder}}</td>
                            <td>
                                <span class="badge {% if block.online == true %} badge-success {% else %} badge-danger {% endif %}">Publié</span>
                            </td>
                            <td>{{ block.user}}</td>
                            <td>
                                <a href="{{ path('admin.block.edit', {id: block.id}) }}" class="btn btn-fonce btn-xs waves-effect waves-light">Editer</a>
                                <form method="POST" action="{{ path('admin.block.delete', {id: block.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer ce bloc ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ block.id) }}">
                                    <button class="btn btn-danger btn-xs waves-effect waves-light">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
{% endblock body %}