{% extends 'admin/base.html.twig' %}
{% block title 'Dashboard | Réalisations'%}

{% block body %}

    <div class="container">
        <div class="row ">
            <div class="col-sm-8">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success my-2">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-4 text-right">
                <a href="{{ path('admin.realization.new')}}" class="btn btn-small btn-fonce waves-effect waves-light">Nouvelle réalisation</a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-md-12 table-responsive">
                <table class="table text-center table-stripped my-4">
                    <thead class="">
                        <tr>
                            <th>Réalisations</th>
                            <th>Date</th>
                            <th>Publication</th>
                            <th>Tags</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for realization in realizations %}
                        <tr>
                            <td>{{ realization.title }}</td>
                            <td>{{ realization.date | date('Y - m') }}</td>
                            <td>
                                <span class="badge {% if realization.online == true %} badge-success {% else %} badge-danger {% endif %}">Publié</span>
                            </td>
                            <td>{% for tag in realization.tags %}
                                    &nbsp;{{ tag }},
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('admin.realization.edit', {id: realization.id}) }}" class="btn btn-fonce btn-xs waves-effect waves-light">Editer</a>
                                <form method="POST" action="{{ path('admin.realization.delete', {id: realization.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cette réalisation ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realization.id) }}">
                                    <button class="btn btn-danger btn-xs waves-effect waves-light">Supprimer</button>
                                </form>
                                
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

  
{% endblock body %}