{% extends 'admin/base.html.twig' %}
{% block title 'Dashboard | Types'%}

{% block body %}

    <div class="container">
        <div class="row ">
            <div class="col-sm-9">

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success my-2">
                        {{ message }}
                    </div>
                {% endfor %}
                
            </div>
            <div class="col-sm-3 text-right">
                <a href="{{ path('admin.type.new')}}" class="btn btn-small btn-fonce waves-effect waves-light">Nouveau type</a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-md-12 table-responsive">
                <table class="table text-center table-stripped my-4">
                    <thead class="">
                        <tr>
                            <th>Types</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                            {% for type in types %}
                        <tr>
                            <td>{{ type.name}}</td>
                            <td>
                                <a href="{{ path('admin.type.edit', {id: type.id}) }}" class="btn btn-fonce btn-xs waves-effect waves-light">Editer</a>
                                <form method="POST" action="{{ path('admin.type.delete', {id: type.id}) }}" style="display:inline-block;" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer ce type ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
                                    <button class="btn btn-danger btn-xs waves-effect waves-light">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
{% endblock body %}